.App {
    text-align: center;
    font-family: Arial, sans-serif;
}

.chocolate-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.chocolate-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    max-width: 150px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#chocolate-list {
    gap: 20px;
}

#image {
    height: 300px;
    width: 90%;
}

#addToCartBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#addToCartBtn button {
    background-color: #191b22;
    box-shadow: rgba(255, 255, 255, 0.33) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.33) 0px 18px 36px -18px inset;
}

#addToCartBtn button:hover {
    background-color: aliceblue;
    color: #191b22;
}

#container {
    height: 600px;
    gap: 20px;
    margin-bottom: 30px;
    box-shadow: rgb(189, 186, 186) 0px 19px 38px, rgb(234, 231, 231) 0px 15px 12px;
    --s: 50px;
    --c: #191b22;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%, #20222a 68% 70%, #0000 72%;
    background:
        radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0/var(--_s),
        repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0/var(--_s),
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
    border: 1px solid rgba(255, 255, 255, 0.255)
}

#banner-image {
    background:
        radial-gradient(black 3px, transparent 4px),
        radial-gradient(black 3px, transparent 4px),
        linear-gradient(#fff 4px, transparent 0),
        linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
        #fff;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

#heading {
    color: white;
}